.footer {
    width: 100%;
    height: 200px;
    margin-top: 100px;
    color: #1C87FF;
    background-color: #d9d9d9;

    &__links {
        gap: 20px;
        display: flex;
        font-size: 20px;
        padding-top: 20px;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    
    &__icons {
        gap: 20px;
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: center;
    }

    &__copyright {
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }
}