.footer {
    
    &__container {
        width: 100%;
        height: 300px;
        color: #006ba6;
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        //background-color: #d8d8d8;
        border-top: 1px solid lightgray;
    }

    &__links {
        gap: 20px;
        display: flex;
        font-size: 18px;
        font-weight: 400;
        padding-top: 40px;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    &__link {
        &:hover {
            color: #F7B137;
            font-weight: 700;
            text-decoration: underline;
            transition: all 0.5s ease-out;
        }
    }
    
    &__icon {
        color: white;
        padding: 0.6em;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #006ba6;
        width: calc((25px) + (2 * 0.6em));
        height: calc((25px) + (2 * 0.6em));

        &:hover {
            background-color: #F7B137;
            transition: all 0.5s ease-out;
            box-shadow: 2px 1px 16px 5px rgba(0, 0, 0, 0.61);
            -moz-box-shadow: 2px 1px 16px 5px rgba(0, 0, 0, 0.61);
            -webkit-box-shadow: 2px 1px 16px 5px rgba(0, 0, 0, 0.61);
        }
    }

    &__icons {
        gap: 30px;
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }

    &__copyright {
        display: flex;
        margin-top: 60px;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 400px) {

        &__links {
            font-size: 18px;
        }

        &__icons {
            gap: 3px;
            align-items: center;
            justify-content: center;
        }
        
        &__icon {
            padding: 0.6em;
            width: calc((25px) + (2 * 0.6em));
            height: calc((25px) + (2 * 0.6em));
        }

        &__copyright {
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 768px) {

        &__links {
            font-size: 18px;
        }

        &__icons {
            gap: 3px;
            align-items: center;
            justify-content: center;
        }
        
        &__icon {
            padding: 0.6em;
            width: calc((25px) + (2 * 0.6em));
            height: calc((25px) + (2 * 0.6em));
        }

        &__copyright {
            font-size: 16px;
        }
    }
}