.videos {
  
    &__content {
        margin: 0 auto;
        padding: 40px 0;
        max-width: 1000px;
    }

    &__title {
        font-size: 2em;
        font-weight: 600;
        text-align: center;
    }

    &__container {
        gap: 20px;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 440px) {
        &__container {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    @media only screen and (max-width: 768px) {
        &__container {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }
}