.playerForm {
    width: 800px;
    margin: 50px auto;

    &__title {
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__columns {
        gap: 40px;
        display: flex;
        align-items: center;
    }

    &__middle, &__right {
        width: 50%;
    }

    form {
        color: #999;
    
        input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 30px;
            border: 0.5px solid lightgray;

            &:focus {
                outline: none;
                border: 0.5px solid #1d87ff;
                box-shadow: 0 0 5px #1d87ff;
            }
        }
    }
        
    @media only screen and (max-width: 440px) {
              
        &__columns {
            display: flex;
            flex-direction: column;    
        }

        &__upload {
            width: 400px;
            margin: 0 auto;
        }

        &__button {
            width: 400px;
            margin: 0 auto;
        }

        &__title {
            text-align: center;
        }

    }
}