.player {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #d8d8d8;

    &__container {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }  

    &__details {
        text-align: center;
    }

    &__info {
        width: 250px;
        color: #999;
        margin-top: 30px;
        min-height: 200px;
        margin-left: auto;
        border-radius: 8px;
        margin-right: auto;
        margin-bottom: 30px;
        background-color: white;
        
        img {
            width: 100%;
            height: 200px;
            margin: 0 auto;
            object-fit: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }

    @media only screen and (max-width: 768px) {
        &__player {
            display: grid;
            text-align: center;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

}