@tailwind base;
@tailwind components;
@tailwind utilities;

.edit__form {
  text-align: center;
  font-size: 18px;
}

.new__form {
  text-align: center;
  font-size: 18px;
}

.player__detail {
  text-align: center;
  font-size: 18px;
}

.player__img {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 40px 80px;
  padding-left: 150px;
}

input {
  border: 0.5px solid gray;
  border-radius: 5px;
  margin-left: 20px;
}